<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <%- include ('../partials/header.ejs') %>
    <!-- CONTENT HERE -->

    <div class="container">
      <p class="display-1">Access denied!</p>
      <p class="lead"><%= locals.logged_in.error %></p>
    </div>

    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
