<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <%- include ('../partials/header.ejs') %>
    <!-- CONTENT HERE -->

    <div class="container">
      <p class="display-1">Page not found!</p>
      <a href="/" class="btn btn-primary">Home</a>
    </div>

    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
